body {
  background-color: #005c30;
  background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  color: whitesmoke;
}

h1 {
  font-family: "Tektur", cursive;
  text-shadow: 10px 10px 5px #373b38;
  font-size: 5.5rem;
  color: #efefef;
  margin: 20px auto 0 auto;
}

.h1Animated {
  animation: glow 2s ease 0s 3 normal forwards;
}

@keyframes glow {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.ronda {
  width: 300px;
  margin: 20px auto;
  font-family: "Tektur", cursive;
  font-size: 1.5em;
  color: red;
  border-radius: 3px;
  background: #092919;
  box-shadow: 0 0 0 8px #07310f, 0 0 0 10px #fff;
  text-shadow: 2px 2px 20px red;
}

.contador {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  box-shadow: rgb(13, 13, 13, 0.5) 5px 5px 6px 5px,
    rgba(255, 255, 255) 0px 1px 9px;
  border-radius: 5px;
  font-family: "Tektur", cursive;
  color: #eee;
  background: linear-gradient(
    45deg,
    #ffffff 10%,
    transparent 10%,
    transparent 10%,
    transparent 50%,
    #ffffff 50%,
    #ffffff 60%,
    transparent 60%,
    transparent 100%
  );
  background-size: 15px 15px;
  animation: animate 0.5s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 15px;
  }
}

.contador > * {
  z-index: 2;
  margin: 10px;
  border: 3px solid #eee;
  border-radius: 5px;
  width: 200px;
  box-shadow: rgb(0, 0, 0) 5px 5px 6px 5px, rgba(255, 255, 255) 0px 1px 9px;
  background: #092919;
}

.contador::before {
  content: "";
  position: absolute;
  inset: 10px;
  background-color: #000;
  border: 3px solid #fff;
  border-radius: 10px;
}

.contador::after {
  content: "";
  position: absolute;
  inset: 20px;
  background-color: #000;
  border: 3px solid #fff;
}

.marcador {
  font-size: 2em;
  color: #3ccf4e;
  text-shadow: 2px 2px 20px rgb(10, 250, 90);
  margin: 0;
}
.marcador p {
  margin: 0;
}

.marcadorAnimation {
  transition: 1.5s ease;
  transform: scale(1.2);
}

.numeroRonda,
.total1,
.total2  {
  font-family: "Handjet", sans-serif;
  font-weight: 300;
  font-size: 2em;
  font-optical-sizing: auto;
}

.resultado1,
.resultado2  {
 color: yellow;
 font-size: 1.5em;
}

img {
  width: 100px;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 50px 20px;
  padding: 20px;
}

.shakeDice {
  animation: shake 2s ease 0s 1 normal forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

.refreshButton {

  background: rgb(106, 110, 110);
  background: linear-gradient(
    81deg,
    rgba(106, 110, 110, 1) 1%,
    rgba(245, 242, 242, 1) 52%
  );
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  height: 48px;
  width: 300px;
  padding: 0px 25px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0px 0px 10px 0px #2d2d2d;
  cursor: pointer;
  margin-top: 10px;
}
.refreshButton:hover {
  box-shadow: inset 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}
.refreshButton:active {
  transform: scale(0.95);
}

.refreshButtonAnimation {
  background: #52c234; 
  background: -webkit-linear-gradient(
    to right,
    #061700,
    #52c234
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #061700,
    #52c234
  ); 

  color: #fff;
}

footer {
  color: #eee;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: italic;
  margin-bottom: 2em;
}

@media (max-width: 768px) {
  body {
    font-size: 1em;
  }
  .refreshButton {
    width: 100%;
    font-size: 1em;
  }

  h1 {
    font-size: 3em;
    line-height: 1em;
  }

  .dice {
    margin: 10px 20px;
  }
  
  .contador > * {
    width: auto;
    margin: 0;
    padding: 0 8px;
  }
  .contador p {
    font-size: 1em;
  }
  
  .ronda {
    font-size: 1em;
    width: 50%;
  }
  img {
    width: 80px;
  }
}
